---
layout: homepage
---
<div class="overlay" aria-hidden="true"></div>

{% include header.html %}

<main class="homepage-main">
  <section class="homepage-hero-copy">
    <h1 class="homepage-hero-title">Vanguard</h1>
	<h1 class="homepage-hero-subtitle">Gaming Community</h1>
  </section>
  <a href="{{'/redirects/docs' | prepend: site.baseurl | prepend: site.url}}" class="homepage-hero-cta">Docs</a>
  &nbsp <a href="{{'/redirects/status' | prepend: site.baseurl | prepend: site.url}}" class="homepage-hero-cta">Status</a>
  &nbsp <a href="{{'/redirects/discord' | prepend: site.baseurl | prepend: site.url}}" class="homepage-hero-cta">Discord</a>
</main>

{% include external_profiles_links.html %}